asgiref==3.11.1
cffi==2.0.0
crispy-bootstrap5==2026.3
cryptography==46.0.5
Django==6.0.3
django-crispy-forms==2.6
pillow==12.1.1
pycparser==3.0
PyMySQL==1.1.2
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2025.3
ollama
reportlab
faiss-cpu
sentence-transformers
matplotlib
charset_normalizer
requests
pandas
akshare
chromadb
fastapi
uvicorn
pydantic
